<html>

<head>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td border="0"><img src="{{ url }}static/img/crece.jpg" alt="crece" title="crece" border="0"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="center" valign="bottom">
                                    <table width="650" border="0" cellspacing="0" cellpadding="0">
                                        <tr bgcolor="#FFFFFF">
                                            <td>
                                                <table width="540" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif; font-size: 16px;  color: #444444; padding: 40px 0px 40px 0px;">
                                                                <p>Estimado(a)&nbsp;&nbsp;<strong>{{ usuario.nombres }},</strong> durante tu trabajo, has acumulado:</p>
                                                                <h1 style="color:#162c9b; font-weight:200; font-size:38px; ">{{ usuario.experiencia_horas }} Hrs.</h1>
                                                                <h3 style="color:#162c9b;  line-height:4px; font-size:25px;">DE EXPERIENCIA LABORAL</h3>
                                                                <!--<p>Qué podrás acreditar si te animas a estudiar Ingeniería Industrial con nosotros.</p>-->
                                                                <p>En <strong>CRECE</strong>, el programa de formación para adultos de la Universidad Señor de Sipán podrás elegir entre una de las seis carreras que hemos diseñado especialmente para ti:<span style="font-style:italic; color:#162c9b;"> <strong>Administración, Contabilidad, Derecho, Psicología, Ingeniería Industrial e Ingeniería de Sistemas</strong></span> y ser parte de una de las 20 mejores universidades del país según el prestigioso ranking universitario de la revista América Economía.</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="http://www.uss.edu.pe" title="B-LEARNING" target="_blank" style="
    border: 0px;
    border-style: solid;
    border-color: #79d700;
    color: #162c9b;
    background-color:#37DC94;
    display: inline-block;
    border-radius:5px;
    font-family:open sans,helvetica neue,helvetica,arial,sans-serif;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    width: 200px;" alt="B-LEARNING"><strong>INFÓRMATE MÁS</strong></a>
                                                                <br>
                                                                <br>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top" bgcolor="#FFFFFF">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="center" valign="bottom">
                                    <table width="650" border="0" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <table width="540" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 20px 0px 20px 0px;">
                                                    <tr>
                                                        <td>
                                                            <table width="540" border="0" cellspacing="0" cellpadding="0" style="padding: 35px 0px 35px 0px; border-bottom:1pt solid black; border-top:1pt solid black;">
                                                                <tr>
                                                                    <td width="293" valign="middle"><img src="{{ url }}static/img/uss.png"></td>
                                                                    <td width="292" align="right"><img src="{{ url }}static/img/crecelog.png"></td>
                                                                </tr>
                                                            </table>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif; font-size: 12px; color: #444444; padding: 40px 0px 20px 0px;">
                                                            <p><strong>OFICINAS DE INFORMES</strong></p>
                                                            <p><strong>CHICLAYO</strong>
                                                                <br> Av. Luis Gonzales 1004 / T. 074 481619.
                                                                <br> Calle San José 710 / T. 074 481619.
                                                                <br> Calle Elías Aguirre 933 / T. 074 481625.</p>
                                                            <p><strong>CAMPUS UNIVERSITARIO</strong>
                                                                <br> Km. 5 carretera a Pimentel / T. 074 481610,
                                                                <br> anexo: 6064.</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
